html {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


h3,
a {
    font-size: 24px;
}

.hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 400px;
}

.hero-subtext{
    font-size: 18px;
    color: #f9faf8be;
    width: 450px;
    margin-bottom: 16px;
}

.header,
.footer {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 24px;
    justify-content: space-around;
    flex: 0;
}



.website-awesome{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    align-content: center;
    padding: 100px 295px;
    justify-content: space-around;
}

.button-class {
    background-color: #3882F6;
    font-size: 19px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    font-weight: 700;
    padding: 6px 12px;
}

.awesome-content {
    display: flex;
    gap: 50px;
}

.block-left {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: auto;
}

.img-princ {
    height: 200px;
    width: 600px;   
    margin: 0 ;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    flex-direction: row;
    flex: 5;
    flex-shrink: 0;
}

a {
    color: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
}

.links-right {
    gap: 50px;
}


.some-random {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px;
    padding: 24px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 50px;
}

.block {
    max-width: 250px;
    text-wrap: wrap;
    align-content: center;
}

.img-info {
    width: 250px;
    border: 4px #3882F6 solid;
    border-radius: 4px;
}

.text {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}


.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 100%;
}

.quote-part{
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-block {
    padding: 66px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
}

.thor {
    font-size: 24px;
    font-weight: 700;
    margin-left: auto;
}

.call-action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 32px;
}


.call-box {
    background-color: #3882F6;
    width: 600px;
    padding: 40px 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    margin: 48px;
}

.call-text {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.call-subtext {
    color: white;
    font-size: 16px;
}

.call-button {
    border: solid white;
    color: white;
    margin: 12px;
    padding: 4px 34px;
    border-radius: 6px;
    font-weight: 700;
}

.block-left-box {
    display: flex;
    width: 440px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: auto;
}

